.container {
  height: 100%;
  width: 100%;
}

.days_container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  margin: 0 2rem 2rem 2rem;
}

.days_container > * {
  flex: 1 0 14%;
}

.day_week {
  font-size: 2rem;
  text-align: center;
}
