.box {
  height: 10rem;
  width: 10rem;
  border-radius: 10px;
  border: 2px solid black;
}

.day_number {
  font-size: 3rem;
  margin-top: 8px;
  margin-left: 8px;
}

.mark{
  font-size: 5rem;
  text-align: center;
  color: red;
}
